.vertical-align {
  display: flex;
  align-items: center;
}

.news-container{
  padding-bottom: 20px;
}

.container-principal{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
}

.container-page{
  padding-top: 40px;
}

.container-jaquette{
  padding-top: 10px;
  padding-bottom: 10px;
}
