.vertical-align {
  display: flex;
  align-items: center;
}

.news-container{
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.saga-container{
  padding-bottom: 20px;
}

.container-principal{
  padding : 50px 10% 30px 10%;
}

.container-page{
  padding-top: 40px;
}

.container-jaquette{
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-element{
  padding-top: 10px;
  padding-bottom: 10px;
}

.label-sagas-status{
  margin-right: 10px;
}

.row-thumbnails-lines{
  display:flex;
  flex-wrap: wrap;
}


.thumbnail-sagas{
  margin-left: 10px;
  margin-right: 10px;
}



.videogular-container {
  width: 100%;
  height: 50px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .videogular-container {
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 100%;
    height: 50px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.media-left > img{
  height: initial;
  max-width: none;
}

.navbar-brand > img{
  padding-bottom: 32px;
  height: inherit;
}

a {
  color: #1F747B;
}

a:hover{
  color: #639094;
  outline: none;
  text-decoration: underline;
}

a:active{
  color: #639094;
  outline: none;
  text-decoration: none;
}

audio.saga{
  width: inherit;
}

.partnerImg{
  max-width: 300px;
  max-height: 100px;
}

.breadcrumb li.active{
  color: #1F747B;
}

.jumbotron{
    border: 1px solid #dfd7ca;
}

#logo{
    filter: brightness(90%);
}
