.vertical-align {
  display: flex;
  align-items: center;
}

.news-container{
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}

.saga-container{
  padding-bottom: 20px;
}

.container-principal{
  padding : 50px 10% 30px 10%;
}

.container-page{
  padding-top: 40px;
}

.container-jaquette{
  padding-top: 10px;
  padding-bottom: 10px;
}

h3, .titre-news{
  margin-top: 0px;
}
