<div class="container-fluid container-principal container-page">
  <h1>Jouer au Donjon En Folie</h1>
  <h2>Capsule {{capsule.id}}</h2>
  <div ng-if="capsule.id === '00'" class="container-element">
    <p class="text-center">Bienvenue au debut de l'aventure !</p>
  </div>
  <div class="container-element text-center">
    <audio src="{{getAudio(capsule.id)}}" controls></audio>
  </div>
  <div class="text-center">
    <div ng-repeat="next in capsule.next" class="container-element">
      <a ng-href="#/sagas/def/jeu/{{next.id}}">Choix N {{$index + 1}}</a>
    </div>
  </div>
  <div ng-if="capsule.id === '04'" class="container-element text-center">
    Fin de l'aventure... Pour le moment. CONGRATS !
  </div>
</div>
