<div class="container-fluid container-principal container-page">
  <div class="row container-element">
    <ol class="breadcrumb">
      <li><a href="#/">Accueil</a></li>
      <li><a href="#/sagas">Sagas mp3</a></li>
      <li class="active">Le Donjon En Folie</li>
    </ol>
    <h1>Jouer au Donjon En Folie</h1>
    <h2>Capsule {{capsule.id}}</h2>
  </div>
  <div ng-if="capsule.id === '00'" class="container-element">
    <p class="text-center">Bienvenue au debut de l'aventure !</p>
  </div>
  <div class="container-element text-center">
    <audio src="{{getAudio(capsule.id)}}" controls></audio>
  </div>
  <div class="text-center">
    <div ng-repeat="next in capsule.next" class="container-element">
      <a ng-href="#/sagas/def/jeu/{{next.id}}">Choix N {{$index + 1}}</a>
    </div>
  </div>
  <div ng-if="capsule.id === '04'" class="container-element text-center">
    Fin de l'aventure... Pour le moment. CONGRATS !
  </div>
</div>
