<div class="container-fluid container-principal container-page">
  <h1>{{saga.nom}}</h1>
  <div class="row container-element text-center">
    <img ng-src="images/{{saga.jaquette}}" alt="Jaquette pour {{saga.nom}}">
  </div>
  <div class="row container-element" ng-bind-html="saga.description"></div>
  <div class="row container-element">
    <h2>Episodes</h2>
    <div ng-repeat="episode in saga.episodes">
      <h3>{{episode.nom}}</h3>
      <p><em>Sorti le {{episode.dateSortie}}</em></p>
      <p>{{episode.description}}</p>
      <p>
        {{episode.duree}}
        <videogular vg-theme="bower_components/videogular-themes-default/videogular.css" class="videogular-container">
          <vg-media vg-src="episode.audio" vg-type="audio"></vg-media>
          <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
          </vg-controls>
        </videogular>
      </p>
    </div>
  </div>
  <div class="row container-element" ng-if="saga.bonus.length > 0">
    <h2>Bonus</h2>
  </div>
</div>
