<div class="container-fluid container-principal container-page">
  <h1>{{saga.nom}}</h1>
  <div class="row container-element text-center">
    <img ng-src="images/{{saga.jaquette}}" alt="Jaquette pour {{saga.nom}}">
  </div>
  <div class="row container-element" ng-bind-html="saga.description"></div>
  <div class="row container-element" ng-if="saga.packs.length > 0">
    <h2>Packs</h2>
    <div ng-repeat="pack in saga.packs">
      <h3>{{pack.nom}}</h3>
      <p><em>{{pack.description}}</em></p>
      <a ng-href="{{pack.lien}}" class="fa fa-file-archive-o fa-4x"></a>
      <hr>
    </div>
  </div>
  <div class="row container-element">
    <h2>Episodes</h2>
    <div ng-repeat="episode in saga.episodes">
      <h3>{{episode.nom}}</h3>
      <p><i class="fa fa-calendar"></i><em> Sorti le {{episode.dateSortie}}</em></p>
      <p>{{episode.description}}</p>
      <p><i class="fa fa-clock-o"></i> {{episode.duree}}</p>
      <div class="row container-element">
        <div class="col-md-10">
          <videogular vg-theme="bower_components/videogular-themes-default/videogular.css" class="videogular-container">
            <vg-media vg-src="episode.audio" vg-type="audio"></vg-media>
            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
              <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
            </vg-controls>
          </videogular>
        </div>
        <div class="col-md-2 text-center">
          <a ng-href="{{episode.lien}}" class="fa fa-download fa-4x" download></a>
        </div>
      </div>
      <h4>Acteurs :</h4>
      <div class="row container-element">
        <div class="col-md-3" ng-repeat="acteur in episode.acteurs">
          <a ng-href="{{acteur.lien}}">{{acteur.nom}}</a>
        </div>
      </div>
      <div ng-if="episode.docs.length > 0">
        <h4>Documents :</h4>
        <div class="row container-element">
          <div class="col-md-3" ng-repeat="doc in episode.docs">
            <a ng-href="{{doc.lien}}"><i class="fa fa-file-pdf-o"></i> {{doc.nom}}</a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row container-element" ng-if="saga.bonus.length > 0">
    <h2>Bonus</h2>
    <div ng-repeat="bonus in saga.bonus">
      <h3>{{bonus.nom}}</h3>
      <p>{{bonus.description}}</p>
      <div ng-if="bonus.type == 'mp3'">
        <div class="row container-element">
          <div class="col-md-10">
            <videogular vg-theme="bower_components/videogular-themes-default/videogular.css" class="videogular-container">
              <vg-media vg-src="bonus.audio" vg-type="audio"></vg-media>
              <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                  <vg-mute-button></vg-mute-button>
                  <vg-volume-bar></vg-volume-bar>
                </vg-volume>
              </vg-controls>
            </videogular>
          </div>
          <div class="col-md-2 text-center">
            <a ng-href="{{bonus.lien}}" class="fa fa-download fa-4x" download></a>
          </div>
        </div>
      </div>
      <div ng-if="bonus.type == 'pdf'">
        <a ng-href="{{bonus.lien}}"><i class="fa fa-file-pdf-o"></i> {{bonus.nom}}</a>
      </div>
      <hr>
    </div>
  </div>
  <p>TIP : Si vous n'arrivez pas à télécharger les épisodes, Clic-Droit puis Enregistrez sous...</p>
</div>
