<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="container">
  <h1>Dernières news</h1>
  <div class="news-container vertical-align" ng-repeat="currentNews in news">
    <div class="col-md-3">
      <img ng-src="images/news/{{currentNews.image}}.png" alt="{{currentNews.newsType}}">
    </div>
    <div class="col-md-9">
      <div>
        <h3>{{currentNews.titre}}</h3>
        <em><small>{{currentNews.date}}</small></em>
        <div ng-bind-html="currentNews.descriptif"></div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="marketing">

  <div class="container-a1">
    <ul class="caption-style-1">
      <li>
        <a href="http://google.fr"><img src="images/tanirm.png" alt="">
        <div class="caption">
          <div class="blur"></div>
          <div class="caption-text">
            <h1>Titre de la saga</h1>
            <p>Whatever It Is - Always Awesome hvuzyvz zevgzeuze vuzvgze  vuzevyze yvzuvze zevuyz zeyvzuyvze ezyv zeyuzevuyevezyuv ezyveuze yez uyzevzuyzeyve ty</p>
          </div>
        </div>
        </a>
      </li>
      </ul>
    </div>

  <p>{{news.date}}</p>

  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
